<div id="filter-bar">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-11">
                    <ul class="list">
                        <li *ngFor="let filter of filters">
                            {{ filter | uppercase }} <button class="closeButton"
                                (click)="removeFilter(filter)">&#10005;</button>
                        </li>
                    </ul>
                </div>
                <div class="col-1">
                    <div class="clearButton" (click)="removeFilter('all')">Clear</div>
                </div>
            </div>
        </div>
    </div>
</div>